@model Report
@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_LayoutMenu.cshtml";
}

<hr />
<div class="row">
    <div class="col-md-12">
        <form asp-action="Add" enctype="multipart/form-data" method="post" class="HerbForm">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Name" class="control-label">Name</label>
                <input asp-for="Name" name="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Content" class="control-label">Content</label>
                <textarea class="form-control" name="Content" id="editorid" ></textarea>
                <span asp-validation-for="Content" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
                <input type="button" onclick="Cancel()" value="Cancel" class="btn btn-light" />
            </div>
        </form>
    </div>
</div>

@section Scripts{
    <script src="~/ckeditor/ckeditor.js">
    </script>
    <script>
        CKEDITOR.replace("editorid");
        function Cancel() {
            window.location.href = "/Report/List";
        }

    </script>
    }
